{% load static %}
<div class="col-12 col-md-3 mb-3" style="padding-top: 10px">
    <div class="card h-100" style="border-radius: 10px">
        {% if author.photo.url is not None %}
            <a href="{% url 'author_detail' author.id %}"><img  src="{{ author.photo.url }}" class="card-img-top" alt="..." style=" height: 220px; object-fit: cover"></a>
        {% else %}
            <a href="{% url 'author_detail' author.id %}"><img src="{% static 'tolkien.jpg' %}" class="card-img-top" alt="..." style="height: 220px; object-fit: cover"></a>
        {% endif %}
        <div class="card-body" >
            <h5 class="card-title"><a href="{% url 'author_detail' author.id %}">{{ author }}</a></h5>
            <p class="card-text">{{ author.about|truncatewords:10 }}</p>
            <a href="{% url 'author_detail' author.id %}" class="btn btn-secondary"  >
                Szczegóły <i class="fa fa-arrow-right"></i>
            </a>
        </div>

    </div>
</div>