{% load static %}
<div class="col-12 col-md-3 mb-3" style="padding-top: 10px">
    <div class="card h-100" style="border-radius: 10px">
        {% if book.photo.url is not None %}
            <a href="{% url 'book_details' book.id %}"><img  src="{{ book.photo.url }}" class="card-img-top" style="height: 220px; object-fit: cover"></a>
        {% else %}
            <a href="{% url 'book_details' book.id %}"><img  src="{% static '3.jpg' %}" class="card-img-top" style="height: 220px; object-fit: cover"></a>
        {% endif %}
        <div class="card-body" >
            <h5 class="card-title"><a href="{% url 'book_details' book.id %}">{{ book.title }}</a></h5>
            <p class="card-text">{{ book.short_description|truncatewords:10 }}</p>
        </div>
    </div>
</div>