{% extends "base.html" %}

{% block content %}
    <br>
    <div style="padding-top: 20px">
        <h1 style="text-align: center">Witaj na naszej stronie!</h1>
        <p style="text-align: center">Znajdziesz tutaj całą bibliotekę różnych książek, przeczytasz ich
            recenzje oraz dowiesz się więcej o ich autorach.</p>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2 style="text-align: center">Kontakt:</h2>
                <p class="elo" style="text-align: center"><a href="https://youtu.be/dQw4w9WgXcQ?autoplay=1">Fanpage</a></p>
                <p style="text-align: center">Email: abc@xyz.pl</p>
                <p style="text-align: center">Telefon: 000 000 000</p>
            </div>
            <div class="col-12 col-md-6">
                <h2 style="text-align: center">Autorzy zdjęć:</h2>
                <p style="text-align: center">Alfons Morales, Lilly Rum</p>
                <p style="text-align: center">Annie Spratt, Patric Fore</p>
                <p style="text-align: center"></p>
                <p style="text-align: center">Find them on Unsplash</p>
            </div>
        </div>
    </div>
{% endblock %}

