/*.important {*/
/*    color: blue;*/
/*}*/

/*p {*/
/*    color: green;*/
/*}*/

/*h1 {*/
/*    background-color: grey;*/
/*}*/

/*.column1 {*/
/*    width:20%;*/
/*    display: table-cell;*/
/*}*/

/*.column2 {*/
/*    width:80%;*/
/*    display: table-cell;*/
/*}*/

/*.rowxd {*/
/*    width: 100%;*/
/*    display: table;*/
/*    clear: both;*/
/*}*/

.card-title a:link {
    color: inherit;
}


.card-title a:visited {
    color: inherit;
}

.elo a:link {
    text-decoration: none;
    color: inherit;
}

.elo a:visited {
    text-decoration: none;
    color: inherit;
}

.elo a:hover {
    color: inherit;
    text-decoration: underline;
}

