
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-3" style="border-radius: 50px">
        <div class="row" style="border-radius: 50px">

            {% for author in author_list %}
                <div class="card col-12 col-md-3" style="border-radius: 0px; background-color: rgb(230, 255, 255); padding-top: 10px">
                    <a href="{% url 'author_detail' author.id %}"><img  src="{{ author.photo.url }}" class="card-img-top" alt="..." style=" border-radius: 10px"></a>
                    <div class="card-body" >
                        <h5 class="card-title"><a href="{% url 'author_detail' author.id %}">{{ author }}</a></h5>
                        <p class="card-text">{{ author.about|truncatewords:10 }}</p>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

    <hr>
{% endblock %}