{% extends "base.html" %}
{% load static %}
{% block content %}
    <br>
    <div class="container mt-3 justify-content-center" style="">
        <div style="box-shadow: 0px 0px 4px #000000;">

            <div class="row justify-content-center" >
                {#       normalne zdjęcia        #}
{#                <img src="{{ author.photo.url }}" style="display: block; margin: auto; max-block-size: 50rem; border-radius: 50px; padding: 2rem">#}
                {#          placeholder dla heroku          #}
                <img src="{% static 'tolkien.jpg' %}" style="display: block; margin: auto; max-block-size: 50rem; border-radius: 50px; padding: 2rem">
            </div>

            <div class="row justify-content-center">
                <h1 style="text-align: center">{{ author.first_name }} {{ author.last_name }}</h1>
            </div>

            <div class="row justify-content-center">
                <p style="text-align: center; padding-left: 20px; padding-right: 20px">O autorze: {{ author.about|default_if_none:"Brak informacji" }}</p>
            </div>

            <div class="row justify-content-center">
                <h1 style="text-align: center">Lista książek</h1>
            </div>

            <div class="row justify-content-center" style=" padding: 2rem">
                {% for book in author.books.all %}
                    <div class="card col-12 col-md-3" style="border-radius: 0px; background-color: rgb(230, 255, 255); padding-top: 10px">
                        <a href="{% url 'book_details' book.id %}"><img  src="{% static '3.jpg' %}" class="card-img-top"  style=" border-radius: 10px"></a>
                        <div class="card-body" >
                            <h5 class="card-title"><a href="{% url 'book_details' book.id %}">{{ book.title }}</a></h5>
                            <p class="card-text">{{ book.short_description|truncatewords:10 }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
