
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-3" style="border-radius: 50px">
        <a href="{% url 'author_create' %}" class="btn btn-secondary btn-block"  >
            Dodaj autora <i class="fas fa-pen-fancy"></i>
        </a>
        <div class="row" style="border-radius: 50px">

            {% for author in author_list %}

                {% include "components/author_tiles.html" %}

            {% endfor %}
        </div>
    </div>

    <hr>
{% endblock %}