{% extends "base.html" %}
{% load static %}
{% block content %}
    <br>
    <div class="container mt-3 justify-content-center" style="">
        <div style="box-shadow: 0px 0px 4px #000000;">

            <div class="row justify-content-center" >
                {#       normalne zdjęcia        #}
                {#                <img src="{{ author.photo.url }}" style="display: block; margin: auto; max-block-size: 50rem; border-radius: 50px; padding: 2rem">#}
                {#          placeholder dla heroku          #}
                <img src="{% static 'tolkien.jpg' %}" style="display: block; margin: auto; max-block-size: 50rem; border-radius: 50px; padding: 2rem">
            </div>

            <div class="row justify-content-center">
                <h1 style="text-align: center">{{ author.first_name }} {{ author.last_name }}</h1>
            </div>

            <div class="row justify-content-center">
                <p style="text-align: center; padding-left: 20px; padding-right: 20px">O autorze: {{ author.about|default_if_none:"Brak informacji" }}</p>
            </div>

            <div class="row justify-content-center">
                <h1 style="text-align: center">Lista książek</h1>
            </div>

            <div class="row justify-content-center" style=" padding: 2rem">
                {% for book in author.books.all %}
                    {% include "components/book_tiles2.html" %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
