{% extends "base.html" %}
{% load static %}
{% block content %}
    <br>
    <div class="container mt-3 justify-content-center" style="">
        <div style="box-shadow: 0px 0px 4px #000000;">

            {% if book.photo.url is not None %}
                <div class="row justify-content-center" >
                    <img src="{{ book.photo.url }}" style="display: block; margin: auto; max-block-size: 50rem; border-radius: 50px; padding: 2rem">
                </div>
            {% else %}
                <div class="row justify-content-center" >
                    <img src="{% static '3.jpg' %}" style="display: block; margin: auto; max-block-size: 50rem; border-radius: 50px; padding: 2rem">
                </div>
            {% endif %}

            <div class="row justify-content-center">
                <h1 style="text-align: center">{{ book.title }}</h1>
            </div>

            <div class="row justify-content-center">
                <p style="text-align: center">Autor: {{ book.author.first|default_if_none:"Brak informacji" }}</p>
            </div>

            <div class="row justify-content-center">
                <p style="text-align: center">Data wydania: {{ book.published|default_if_none:"Brak informacji" }}</p>
            </div>

            <div class="row justify-content-center">
                <h2 style="text-align: center">O książce</h2>
            </div>

            <div class="row justify-content-center">
                <p style="text-align: center; padding-left: 20px; padding-right: 20px;">{{ book.short_description }}</p>
            </div>


            {% if book.review_set.exists %}
                <div class="row justify-content-center">
                    <h2 style="text-align: center">Lista recenzji</h2>
                </div>
            {% else %}
                <div class="row justify-content-center">
                    <h2 style="text-align: center">Obecnie brak recenzji</h2>
                </div>
            {% endif %}


            <div class="row justify-content-center" style=" padding: 2rem">
                {% for review in book.review_set.all %}
                    <div class="card col-12 col-md-3" style="border-radius: 0px; background-color: rgb(230, 255, 255); padding-top: 10px">
                        {% if book.photo.url is not None %}
                            <a href="{% url 'review_details' review.id %}"><img  src="{{ book.photo.url }}" class="card-img-top"  style=" border-radius: 20px; height: 220px; object-fit: cover"></a>
                        {% else %}
                            <a href="{% url 'review_details' review.id %}"><img  src="{% static '3.jpg' %}" class="card-img-top"  style=" border-radius: 20px; height: 220px; object-fit: cover"></a>
                        {% endif %}

                        {#                        <a href="{% url 'review_details' review.id %}"><img  src="{% static '3.jpg' %}" class="card-img-top"  style=" border-radius: 10px"></a>#}
                        <div class="card-body" >
                            <h5 class="card-title"><a href="{% url 'book_details' book.id %}">{{ book.title }}</a></h5>
                            <p class="card-text">{{ book.short_description|truncatewords:10 }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
