{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-3" style="border-radius: 50px">
        <a href="{% url 'review_create' %}" class="btn btn-secondary btn-block"  >
            Napisz recenzję <i class="far fa-comment-alt"></i>
        </a>
        <div class="row" style="border-radius: 50px">
            {#            {% for i in '0123456789'|make_list %}#}

            {% for review in review_list %}
                {% include "components/review_tiles.html" %}
                {#            {% endfor %}#}
            {% endfor %}
        </div>
    </div>

    <hr>
{% endblock %}
